<a id="lightscontrol_indicator" class="pull-right" title="Toggle Lights" href="#" data-bind="click: function() { loginState.isUser() && $root.toggleLights(); }, visible: (isLightsOn() !== undefined)" style="display: none">
    <i class="icon-bolt"></i>
</a>
